.gradient-custom {
    /* fallback for old browsers */
    background: #c5a3ea;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(225, 160, 233), rgb(168, 193, 237));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(225, 160, 233, 1), rgba(168, 193, 237, 1))
    }